@charset "UTF-8";

div{
    border: 3px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: gray;
}
div#q1{
    background-color: azure;
}
div#q2{
    background-image: linear-gradient(180deg, yellow, yellowgreen);
}
div#q3{
    background-image: url(imagens/pattern001.png);
}

body{
    background-image: url(imagens/wallpaper004.jpg);
    background-repeat: no-repeat;

}