@charset "UTF-8";

body{
    height: 98vh;

    /*Shorthand Background
    background: color > image > position > repeat > [size] > attachment
    */

    background: black url('imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}

div {
    background-color: white;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}