p{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

div#container{
    overflow-x: auto;
}

div > iframe{
    display: block;
    margin: auto;
    
    width: 670px;
    min-height: 370px;
    padding-bottom: 20px;
}