@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

caption{
    font-size: 1.5em;
    background-color: lightgray;
    padding: 5px;
}
table{
    border-collapse: collapse;
    text-align: center;
    height: 250px;
    min-width: 400px;
}

td,th{
    border: 1px solid black;
    padding: 5px;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}

div#container{
    overflow-x: auto;
}