body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.navbar{
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 27px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding-inline: 14px;
}

.navbar a:hover{
    background-color: black;
}

.main{
    background-color: #0000ffe1;
    height: 70px;
    display: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

#titulo-principal{  
    text-align: center;
    color: white;
    transform:translateY(40%);
    font-size: 40px;
}

.boxYellow{
    background-color: lightyellow;
}
