@charset "UTF-8";

@media all{
    *{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body{
        background-color: black;
    }

    h1{
        color: white;
        padding: 10px;
    }
}

@media screen and (orientation: portrait){
    html, body{
        background-color: brown;
    }
}


@media screen and (orientation: landscape){
    html, body{
        background-color: blueviolet;
    }
}