@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

html{
    
    height: 100vh;
}

body{
    width: 100vw;
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.9);
    width: 450px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

img{
    display: block;
    margin: auto;
}

img#phone{display: block;}
img#tv{display: none;}
img#pc{display: none;}
img#print{display: none;}
img#tablet{display: none;}
