*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
   
}
.item{


    background-color: rgb(73, 63, 57);
    color: white;
    text-align: center;

    border: 2px solid rgb(255, 0, 0);
}
