@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: gray;
    padding: 10px;
}
ul{
    background-color: rgb(61, 57, 57);
}
ul > li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(43, 36, 36);
    color: white;
}
body{
    background-color: lightgray;
}

main{
    width: 400px;
    display: block;
    margin: auto;
}

article{
    padding: 10px 0px 10px 0px;
}
