@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    scrollbar-width: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#img{
    max-width: 100%;
    margin-bottom: -4px;
}

div{
    position: relative;
}

div a{
    position: absolute;
    background-color: darkred;
    color: white;
    width: 100%;
    height: 10vh;
}

#text-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a:hover{
    text-decoration: underline;
    background-color: red;
}