@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

div, img, iframe{
    scrollbar-width: none;
}

body{
    background: black url("../imagens/fundo-madeira.jpg") center top no-repeat fixed;
    background-size: cover;
    position: relative;
}

div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);

    background-image: url(../imagens/frame-iphone.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 350px;
    height: 700px;
    overflow: hidden;
}

div.telas{
    overflow: scroll;
    height: 76.4%;
    margin-top: 10.7%;
    padding-inline: 23.5px; 
    transform: translateY(10%);
}

iframe{
    height: 100%;
}

nav{
    display: block;
    text-align: right;
}

.img-redes{
    box-shadow: 1px 0px 5px black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 10px 10px 10px 20px;
}

.img-redes:hover{
    transform: scale(120%, 120%);
    box-shadow: 2px 3px 10px black;
    border: 1px solid white;
    transition-duration: 0.5s;
}

.img-redes:active{
    filter: brightness(200%);
    transform: scale(140%, 140%);
}
