@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

div, img, iframe{
    scrollbar-width: none;
}

body{
    background: black url("../imagens/fundo-madeira.jpg") center top no-repeat fixed;
    background-size: cover;
}

.container{
    background-image: url(../imagens/frame-iphone.png);
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 350px;
    height: 700px;
    margin: auto;
    overflow: hidden;
}

.telas{
    overflow: scroll;
    height: 76.4%;
    margin-top: 10.7%;
    padding-inline: 23.5px; 
    transform: translateY(10%);
}

iframe{
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    right: 0;
    top: 5%;
    left: 90%;
    overflow-y: auto;
    height: 100vh;
}

.botões{
    width: 50px;
    height: 50px;   
}

.img-botões{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}