@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

@font-face {
    font-family: 'Idroid';
    font-style: normal;
    font-weight: normal;
    src: url(fontes/idroid.otf) format('opentype');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 238, 186);
    margin: 0;
}

header{
    position: relative;
    background-image: linear-gradient(to top, rgb(1, 102, 51) 30%, rgb(71, 177, 119));
    text-align: center;
    align-content: center;
    height: 230px;
}

footer{
    background-color: rgb(1, 102, 51);
    text-align: center;
}
footer > p{
    margin: 16px 0px 0px 0px;
    color: white;
    padding: 10px 0px 10px 0px;
}

h1,h2{
    font-family: Idroid, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(1, 102, 51);
    font-weight: bold;
}

div{
    display: flex;
}

ul{
    list-style: none;
    padding-left: 0px;
}
ul li::before{
    content: '✓​';
    font-weight: bold;
    padding: 0px 15px 0px 0px;
}

article,section > p{
    text-align: justify;
    text-indent: 30px;
}

article > h1{
    color: rgb(1, 102, 51);
    font-weight: 600;
}

article > h2{
    font-weight: 500;
    color: rgb(1, 102, 51);
    background-image: linear-gradient(90deg, rgba(125, 196, 160, 0.39), rgb(255, 255, 255));
}

.container-video{
    margin-inline: -10px;
    height: 350px;
    background-color: rgb(1, 102, 51);
}

iframe{
    display: block;
    margin: auto;
    box-shadow: 0px 0px 4px rgba(1, 59, 30, 0.548);
}

.navbar{
    position: absolute;
    bottom: 0;
    margin: 0px 0px 10px 0px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

a:hover{
    text-decoration: underline;
    background-color: rgb(8, 230, 126);
    color: black;
}

#titulo-principal{
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 0px 1px 1px black;
}

#slogan{
    color: rgba(255, 255, 255, 0.637);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1,2em;
    text-shadow: 0px 1px 1px black;
}

main{
    width: 800px;
    padding: 1px 10px 1px 10px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.315);
}


article#conteudo-extra{
    background-color: rgb(165, 233, 165);
    border-radius: 8px;
    margin-inline: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}
article#conteudo-extra h3{
    border-radius: 8px 10px 0px 0px;
    padding: 10px 5px 10px 5px;
    background-color: green;
    color: white;
}

article#conteudo-extra p{
    padding: 0px 10px 0px 10px;
}