@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

@font-face {
    font-family: 'Idroid';
    font-style: normal;
    font-weight: normal;
    src: url(fontes/idroid.otf) format('opentype');
}

:root{
    --cor-bg-conteudoextra: rgb(165, 233, 165);
    --cor-body: rgb(144, 238, 186);
    --cor4: rgb(71, 177, 119);
    --cor5: rgb(1, 102, 51);

    --fonte-conteudo: Arial, Helvetica, sans-serif;
    --fonte-titulo-article: Idroid, sans-serif;
    --fonte-titulo-principal: Bebas Neue, cursive;
}

body{
    font-family: var(--fonte-conteudo);
    background-color: var(--cor-body);
    margin: 0;
}

header{
    position: relative;
    background-image: linear-gradient(to top, var(--cor5) 30%, var(--cor4));
    text-align: center;
    align-content: center;
    min-height: 230px;
    min-width: 320px;
}
header > p{
    margin: auto;
    padding-bottom: 30px;
}

main{
    min-width: 280px;
    max-width: 800px;
    padding: 1px 10px 1px 10px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.315);
}

.navbar{
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    transition-duration: 0.5s;
}

footer{
    background-color: var(--cor5);
    text-align: center;
}
footer > p{
    margin: 16px 0px 0px 0px;
    color: white;
    padding: 10px 0px 10px 0px;
}

h1,h2{
    font-family: var(--fonte-titulo-article);
}

img{
    display: block;
    margin: auto;
    width: 100%;
}

img#bugdroid{
    max-width: 350px;
}

a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}

div{
    display: flex;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin: 10px 0px 10px -10px;
}
ul li::before{
    content: '✓​';
    font-weight: bold;
    padding-right: 10px;
}

article,section > p{
    text-align: justify;
    text-indent: 30px;
}

article > h1{
    color: var(--cor5);
    font-weight: 600;
}

article > h2{
    font-weight: 500;
    color: var(--cor5);
    background-image: linear-gradient(90deg, rgba(125, 196, 160, 0.39), rgb(255, 255, 255));
    margin-left: -10px;
}

.container-video{
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 55.2%;
    background-color: var(--cor5);
    position: relative; 
}

.container-video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 4px rgba(1, 59, 30, 0.548);
}

a:hover{
    text-decoration: underline;
    background-color: var(--cor4);
    color: black;
}

#titulo-principal{
    margin: 0;
    font-family: var(--fonte-titulo-principal);
    color: white;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 0px 1px 1px black;
}

#slogan{
    color: rgba(255, 255, 255, 0.637);
    font-family: var(--fonte-conteudo);
    font-weight: lighter;
    font-size: 1,2em;
    text-shadow: 0px 1px 1px black;
}

article#conteudo-extra{
    background-color: var(--cor-bg-conteudoextra);
    border-radius: 8px;
    margin-inline: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}
article#conteudo-extra h3{
    border-radius: 8px 10px 0px 0px;
    padding: 10px 5px 10px 5px;
    background-color: green;
    color: white;
}

article#conteudo-extra p{
    padding: 0px 10px 0px 10px;
}