*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.container-child{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: brown;
    width: 400px;
    height: 200px;
}

.item{
    text-align: center;
    word-break: break-all;
    width: 10%;
    height: 50%;
    background-color: aquamarine;
    border: 3px solid black;
}