h2{
    color: white;
}

.colorName > .white{
    background-color: brown;
}

.colorHex{
    background-color: #a52a2a;
}

.colorRgb{
    background-color: rgb(165,42,42);
}

.colorHsl{
    background-color: hsl(0, 59%, 41%);
}

.colorAlpha{
    background-color: rgba(165, 42, 42, 50%);
}

body{
    background-image: linear-gradient(to right, rgb(122, 122, 91) 20%, rgb(226, 26, 26) 70%);
    color: black;
}