body{
    background-color: rgb(21, 24, 39);
}

.centered-div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.shadow-box{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 15px #000000;
    background-color: #f0f0f0;
}

.text{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}