@charset "UTF-8";

/*Fonte Externa utilizando link externo*/
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

/*Fonte Externa instalada localmente dentro da pasta*/
@font-face {
    font-family: 'Momo Signature';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/MomoSignature-Regular.ttf), format('truetype');
    /*formats
    - ttf = truetype
    - otf = opentype
    - woff = woff
    - woff2 = woff2
    */
}

p.font1{
    font: italic bold 20px Arial, Helvetica, sans-serif;
}

p.font2{
    font-family: 'Momo Signature', Helvetica, sans-serif;
    font-size: 20px;
}

p.font3{
    font-family: 'Bebas Neue', Helvetica, sans-serif;
}

p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg,rgb(162, 0, 255, 90%), black 75%);
}

body{
    background-color: rgb(75, 53, 124);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
}