@media screen and (min-width: 768px) {
    header{
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
    header nav{
        display: flex;
        flex-flow: row wrap;
        width: max-content;
        
    }
    header nav a{
        width: max-content;
        flex: 1 1 auto;
    }
    header h1{
        flex:1 0 350px;
    }
}