*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;

    align-items: normal;
    justify-items: normal;
    align-content: normal;
    justify-content: normal;

    height: 250px;
    border: 2px dashed orange;
}

.item{
    background-color: lightblue;
    text-align: center;

    border: 2px solid black;
}