@charset "UTF-8";

body{
    background-color: lightsalmon;
}

h1{
    width: 400px;
    padding-left: 5px;

    border: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;  

    background-color: aliceblue;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;


    
}

a{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    border: 2px;
    border-radius: 2px;
    border-style: dashed;
    border-color: rgb(255, 0, 0);
}