*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;

    width: 100vw;
    height: 100vh;
    background-color: black;
}
.item{
    flex: auto;

    background-color: white;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
