/*
@media screen and (max-width: 1080px){
    header{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    header nav.nav-container{
        width: 100%; 
        flex: 1 1 auto;
    }
    header div.nav-secondary{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-self: center;
    }
    header div.nav-secondary h2{
        flex: 1 1 100%;
        text-align: center;
    }
    header
}
*/

@font-face{
    font-family: NotoSans;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 1em;
    font-family: "NotoSans";
    scrollbar-width: none;
}

:root{
    --Neutral900: hsl(227, 75%, 14%);
    --Neutral800: hsl(226, 25%, 17%);
    --Neutral700: hsl(225, 23%, 24%);
    --Neutral600: hsl(226, 11%, 37%);
    --Neutral300: hsl(0, 0%, 78%);
    --Neutral200: hsl(217, 61%, 90%);
    --Neutral100: hsl(0, 0%, 93%);
    --Neutral0: hsl(200, 60%, 99%);

    --Red400: hsl(3, 86%, 64%);
    --Red500: hsl(3, 71%, 56%);
    --Red700: hsl(3, 77%, 44%);

    /*Gradient BG*/ 
    --LightGradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --DarkGradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    --font-default: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    
    background-image: var(--DarkGradient);
    background-attachment: fixed;
    
}

header{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    padding: 20px; 
}

header div.logo-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 10px;

    background-color: var(--Neutral800);
    border-radius: 15px;
}

header div.logo-container p{
    flex: 1 0 auto;

    font-size: 1.5em;
    color: var(--Neutral0);
}

header div.logo-container button{
    width: 40px;
    height: 40px;
    padding-top: 4px;

    border: none;
    border-radius: 15px;

    background-color: var(--Neutral700);
}

header div.logo-container button:hover{background-color: var(--Neutral600); cursor: pointer;}
button.btnfocus:focus{background-color: var(--Neutral600);}

header div.navegation{
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
    
   width: 100%;
}

header div.navegation h2{color: var(--Neutral0); padding: 20px 15px 15px 15px; font-size: 2em;}

header div.navegation div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 100%;
}

header div.navegation div button{
    flex: 1 1 auto;
    padding: 7px;

    border: none;
    border-radius: 15px;
    font-size: 1em;
    
    background-color: var(--Neutral700);
    color: var(--Neutral200);
}

header div.navegation div button:hover{background-color: var(--Neutral600); cursor: pointer;}
header div.navegation div button:focus{color: var(--Neutral900); background-color: var(--Red500);}


h3{
    color: var(--Neutral0);
}

p{
    color: var(--Neutral300);
}

main{
    display: flex;
    flex-flow: column wrap;
}

section.card{
    display: flex;
    flex-flow: row wrap;

    padding: 20px;
    gap: 10px;
    margin-bottom: 10px;

    background-color: var(--Neutral800);
    border-radius: 15px;
}

section.card > img{
    flex: 0 0 content;
    align-self: flex-start;

    /* border: 1px dashed orange; */
}

section.card > div.content-card{
    flex: 1 0;
    display: flex;
    flex-flow: column wrap;
    
    gap: 5px;
    /* border: 1px dashed red; */
}

section.card > div.content-card > p{
    font-size: 0.9em;
    text-align: left;
}

section.card > div.clickables{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    padding: 10px 0px;
    /* border: 1px dashed green; */
}

section.card > div.clickables button{
    padding: 5px 15px;

    border-style: none;
    border: 1px solid var(--Neutral600);
    border-radius: 20px;
    
    font-size: 0.9em;
    background-color: var(--Neutral800);
    color: var(--Neutral0);
}

section.card > div.clickables input{
    color: #040918;
}



