@font-face{
    font-family: NotoSans;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
    
}



:root{
    --bg-color: darkblue;
    --secondary-color: rgb(30, 40, 73);
    --text-color: white;
    --btn_color1: rgb(38, 37, 88);
    --btn_color1_hover: rgb(97, 95, 247);

    --Neutral900: hsl(227, 75%, 14%);
    --Neutral800: hsl(226, 25%, 17%);
    --Neutral700: hsl(225, 23%, 24%);
    --Neutral600: hsl(226, 11%, 37%);
    --Neutral300: hsl(0, 0%, 78%);
    --Neutral200: hsl(217, 61%, 90%);
    --Neutral100: hsl(0, 0%, 93%);
    --Neutral0: hsl(200, 60%, 99%);

    --Red400: hsl(3, 86%, 64%);
    --Red500: hsl(3, 71%, 56%);
    --Red700: hsl(3, 77%, 44%);

    /*Gradient BG*/ 
    --LightGradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --DarkGradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    --font-default: Arial, Helvetica, sans-serif;
}

.card, .nav-container{
    background-color: var(--Neutral800);
}


body{
    height: 100vh;
    width: 100vw;
    
    background-image: var(--DarkGradient);
    background-attachment: fixed;
    color: var(--Neutral0);
    font-family: var(--font-default);
}

header{
    padding: 30px;
}

/*HEADER*/
header nav.nav-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px 10px 5px 10px;

    border-radius: 15px;
    justify-content: center;

    flex: 1;
}

header nav.nav-container p{
    flex: 1;
    font-size: 1em;
    font-weight: bold;
    padding-left: 2px;
}

header nav.nav-container img{
    transform: scale(80%);
}

header nav.nav-container button{
    padding: 7px;

    border: none;
    border-radius: 10px;
    background-color: var(--Neutral700);   
    cursor: pointer;

}
header nav.nav-container button:hover{
    background-color: var(--Red400);
}

header nav.nav-container button > img{
    transform: scale(80%);
}


/*Nav Secund ria*/
header > div.nav-secondary {
    display: flex;
    padding-top: 30px;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header > div.nav-secondary h2{
    font-size: 1.3em;
    flex: 1
}

header > div.nav-secondary button{
    padding: 10px 15px 10px 15px;

    color: var(--Neutral0);
    background-color: var(--Neutral700);
    border: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 20px;
    
    cursor: pointer;
}

#btn_all{
    flex-basis: 50px;
}

#btn_act{
    flex-basis: content;
}

header > div.nav-secondary button:hover{
    background-color: var(--Red500);
    color: var(--Neutral900);
}


/*MAIN*/
main{
    max-width: 1320px; 
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 0px 30px 30px 30px;
    gap: 10px;
}

article.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-radius: 20px;

    width: 320px;
    height: auto;
    padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.253);
}

article.card img{
    align-self: flex-start;
    
}

article.card section{
    display: flex;
    flex-direction: column;
    flex: 1 0 150px;
    padding: 0px 0px 20px 15px;
}

article.card section p{
    padding-top: 5px;
    font-size: 0.8em;
    color: var(--Neutral300);
}

article.card button{
    
    width: max-content;
    height: 30px;
    
    margin-top: 10px;
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    color: var(--Neutral0);
    background-color: var(--Neutral800);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 1.5px;
    cursor: pointer;
    
}

article.card button:hover{
    background-color: var(--Red400);
}

article.card input{
    margin-left: auto;
}