@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 400px;
    height: max-content;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

caption{
    background-color: darkcyan;
    padding: 7px;
    font-size: 1.1em;
    color: white;
    text-decoration: underline;
}
th,td{
    border: 1px solid black;
    padding: 5px;
}

thead,tfoot{
    background-color: lightseagreen;
    color: white;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: lightseagreen;
}

/*Efeito Zebrado, 2n = a cada duas linhas aplica o background*/
tbody > tr:nth-child(2n){
    background-color: rgb(220, 248, 248);
}

/*Efeito Zebrado com impar e par, 
 - odd = linhas impares, 
 - even = linhas pares
 */
tbody > tr:nth-child(odd){
    background-color: white;
}

tbody td {
    text-align: left;
}
td.numero{
    text-align: right;
}

