@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: max-content;
    height: 300px;
    border-collapse: collapse;
}

caption{
    background-color: rgb(63, 63, 63);
    font-size: 1.2em;
    padding: 5px;
    color: white;
}

tbody td{
    text-align: center;
}

td,th{
    border: 1px solid black;
    padding: 5px;
}

tfoot{
    text-align: center;
}
