@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: max-content;
    height: 400px;
    text-align: center;
}
caption{
    background-color: darkred;
    color: white;
    font-size: 1.2em;
    padding: 5px;
}

td,th{
    border: 1px solid black;
    padding: 5px;
}

tbody th{
    text-align: left;
}

tfoot th, td{
    text-align: center;
}

tbody .mediaRow{
    background-color: darkred;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}