*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.caixa1{
    grid-area: 1 / 1 / 2 / -1;
    background-color: rgb(0, 0, 0);
}
.caixa2{
    grid-area: 2 / 1 / 4 / 3;
    background-color: rgb(225, 0, 255);
}
.caixa3{
    grid-area: 2 / 3 / span 2 / span 2;
    background-color: rgb(255, 187, 0);
}