*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    height: 100%;
}

.item {
    background-color: rgb(173, 91, 91);
    border: 1px solid black;
    height: 100px;
    align-content: center;
    text-align: center;

    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}
