*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.caixa1{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: red;
}
.caixa2{
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    background-color: blue;
}
.caixa3{
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    background-color: green;
}