*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(134, 134, 134);
    width: 100vw;
    height:100vh;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

.item{
    background-color: rgb(0, 102, 255);
    color: white;
    border: 1px solid black;
    width: 150px;
    padding: 15px;
}

div#i1{
    align-self: flex-start;
}
div#i2{
    align-self: flex-end;
}
div#i3{
    height: auto;
    align-self: stretch;
}
div#i4{
    align-self: auto;
}
div#i5{
   align-self: baseline;
}
div#i6{
    align-self: stretch;
}
div#i7{
   
}
div#i8{
    
}
div#i9{
  
}