@charset "UTF-8";

/*Telas Mobile deitadas*/
@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape){
     h1#titulo-principal{
        padding: 10px 0px 10px 0px;
    }
    p#context{
        font-size: 12px;
        
    }
    section#container-login{
        display: flex;
        flex-direction: row;
        min-width: 650px;
        height: 280px;   
    }  
    div#imagem{
        width: 45%;  
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-position: center center;
        background-size: cover; 
    }
    #btn-submit, #btn-clear{
        margin-top: 5px;
    }
    body{
        overflow-y: auto;
    }
}

/* Tablets Size */
@media screen and (min-width: 768px) and (max-width: 992px) {

    h1#titulo-principal{
        padding: 10px 0px 10px 0px;
    }
    p#context{
        font-size: 12px;
        
    }
    section#container-login{
        display: flex;
        flex-direction: row;
        min-width: 650px;
        height: 280px;
    
    }  
    div#imagem{
        width: 45%;  
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-position: center center;
        background-size: cover; 
    }
    #btn-submit, #btn-clear{
        margin-top: 5px;
    }
}


/*Desktop Size*/
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, rgba(219, 85, 201, 0.479), rgba(0, 255, 234, 0.582));
    }
    p#context{
        font-size: 14px;
        padding-bottom: 10px;
        
    }
    section#container-login{
        display: flex;
        flex-direction: row-reverse;
        min-width: 992px;
        height: 350px;
        padding: 0;

    }
    div#imagem{
        width: 100%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }
    #btn-submit, #btn-clear{
        margin-top: 5px;
    }
}