*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neutral0: #ffffff;
    --neutral200: #b4b4b4;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

.container-normal{
    width: 100%;
    padding: 10px;
}

.container-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    
    background-color: var(--neutral200);
}

.media-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.text{
    flex: 0 0 50%;
    order: -1;
}

.media{
    flex: 0 0;
    order: -1;
}
