*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neutral0: #ffffff;
    --neutral200: #b4b4b4;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header{
    padding: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;

    background-color: var(--neutral200);
}
