*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100%;

    background-color: rgb(247, 188, 188);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

nav{
    width: fit-content;
    min-height: 100%;
    position: absolute;   

    margin: 10px;

    text-align: left;
    background-image: linear-gradient(to top, rgba(231, 1, 1, 0.801), rgba(216, 90, 90, 0.712));
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
}

nav > a{
    display: block;

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
    color: white;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 0px 2px black;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    width: auto;
    max-width: 1000px;
    margin: auto;
    display: grid;
    justify-content: center;
    
}

main > .form{
    width: 320px;
    height: max-content;
    
    padding: 10px;
    margin: 20px;

    background-color: lightcoral;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px black;
    border-radius: 10px;
}

p{
    padding: 10px 0px 10px 0px;
}

legend{
    padding: 5px 2px 5px 2px;
    margin: 5px 2px 5px 2px;
}

fieldset{
    padding: 10px;
    
}

footer{
    width: 100%;
    padding: 10px 0px 10px 0px;
        
    text-align: center;
    color: white;
    background-color: darkred;
}

/* .form:hover{
    transform: scale(105%);
    border: 1px solid white;
    transition-duration: 0.5s;
    box-shadow: 1px 1px 5px black;
} */
